html {
  display: block;
  background-color: #252526;
  color: #ffffff;
}

* {
font-family: Gill Sans, Arial;
}

head {
  display: none;
}

div {
  display: absolute;
}

.stylemain {
  display: block;
}

.wrappera {
    -ms-grid-columns: 1fr 1fr;
    width: unset;
    position: relative;
    left: unset;
    transform: unset;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}

.author {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2rem;
  color: white;
  font-family: georgia;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.date {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  margin-bottom: 4rem;
  color: #e3e3e3;
  font-family: charcoal;
}

.chapter {
  font-size: 1.2rem;
  z-index: 1;
}

.linechap {
  height: 1px;
  width: 300px;
  background-color: orange;
  border: none;
}

.act {
  font-family: georgia;
}

.footerwrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footerlink {
  text-decoration: none;
  color: orange;
}

@media (prefers-color-scheme: dark) {

}

.parentDiv {
  position: relative;
  width: 100%;
  background-color: #252526;
  color: white;
}

.nav-acts {
  text-align: center;
  
}

ul li{
  display: inline-block;
  padding: 0 20px;
  margin-right: 40px;
  border: 1px solid orange;
border-radius: 4px;
}

.navt {
  color: white;
  text-decoration: none;
  font-family: Georgia, Arial
}
